{% extends 'base.html' %}
{% block content %}
  <div class='row'>
    <h2>Please list up to ten of your favorite musical artists</h2>
    <form action='how_mainstream' method='get'>
      <div class='col-md-4'>
        {% for ord, holder in [('First', 'My favoritest ever'), ('Second', 'I love...'), ('Third', 'Yes!'), ('Fourth', 'So good'), ('Fifth', 'Cool'), ('Sixth', "Last year's fav"), ('Seventh','Will always enjoy'), ('Eighth', 'a.k.a. Eigth'), ('Ninth', 'I like...'), ('Tenth', 'Pretty okay')] %}
          <div class='row'>
            <label class='col-md-6'>{{ord}} artist:</label> <input type='text' name='artist' placeholder="{{holder}}" class='col-md-6'><br>
          </div>
        {% end %}
      </div>
      <div class='col-md-offset-5'>
        <input type='submit' value='Am I mainstream?' class='btn btn-danger' style='margin-top: 105px;'>
        <div style='margin-top: 10px;'>
          <a href='http://the.echonest.com' target='_blank'><img src='http://the.echonest.com/static/img/logos/EN_P_on_Light_Transparent.png'></a>
        </div>
      </div>
    </form>
  </div>

{% end %}
